* {
  box-sizing: border-box;
}

html {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

td {
  width: 200px;
  height: 30px;
}

.container {
  width: 100%;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.dark {
  background-color: #232323;
  color: #fff;
}

.photo {
  min-width: 400px;
  min-height: 600px;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content {
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 40px;
}

.caption {
  text-align: center;
  margin-bottom: 50px;
  font-size: 46px;
  color: #9D5CD0;
}

.data-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #D1A9F0;
}

.text {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 30px;
  line-height: 28px;
}

.title {
  text-align: center;
  font-size: 32px;
  /* margin-bottom: 25px;
  margin-top: 25px; */
  transition: color .5s ease;
}

.loading {
  position: relative;
  min-width: max-content;
  height: 40px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

.loading::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: fit;
  height: 40px;
  background-color: rgb(25, 143, 131);
  z-index: -1;
  transform: translateX(-101%);
  transition: transform .8s ease-in-out,
              background-color .8s ease-in-out;
}

.loading:hover::before {
  transform: translateX(0px);
  z-index: -1;
  background-color: rgb(0, 221, 199);
}

.title:hover {
  cursor: pointer;
  color: #9D5CD0;
}

.header__info {
  display: flex;
}

.my-target__list {
  line-height: 36px;
  list-style: decimal;
}

.data-left {
  margin-right: 80px;
}

.data-right {
  max-width: 800px;
  background-image: url('/img/dream-catcher.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

.row {
  display: flex;
}

.col {
  width: 250px;
}

.col:not(:last-child) {
  padding-right: 50px;
}

.hat {
  font-weight: 700;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.my-time {
  background-image: url('/img/drawing.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 50px;
}

.footer__social-item path {
  transition: fill .5s ease;
}

.footer__social-item:hover path {
  fill: #9D5CD0;
}

.footer__social-item:hover .path-telegr {
  fill: #232323;
}

.slider-container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 500px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.slide-1 {
  background-image: url('/img/1.jpg');
}

.slide-2 {
  background-image: url('/img/2.jpg');
}

.slide-3 {
  background-image: url('/img/3.jpg');
}

.slide-4 {
  background-image: url('/img/4.jpg');
}

.slide-5 {
  background-image: url('/img/5.jpg');
}

.slide-6 {
  background-image: url('/img/6.jpg');
}

.slide-7 {
  background-image: url('/img/7.jpg');
}

.slide.active {
  flex: 10;
}

.table {
  margin-top: 20px;
}

@media (max-width: 800px) {

  .header__info {
    flex-direction: column;
  }

  .data-right {
    margin-top: 30px;
    width: 100%;
  }

  .data-left {
    margin-right: 0;
  }

  .photo {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 319px) {
  body {
    display: none;
  }
}




